<!DOCTYPE html>

<html>
    <head>
        <title>stamen design | the next most obvious thing</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="http://stamen.com/node/feed" />
        <link rel="stylesheet" type="text/css" href="style/main.css">
        <script src="/mint/?js" type="text/javascript"></script>
    </head>
    <body>
        <div id="head" onclick="window.scrollTo(0, 0);">
            <h1><a href="/">stamen design</a></h1>
            <h2>the next most obvious thing</h2>
        </div>
        <div id="body">
            <div id="ghetto-shield"><!-- so it's come to this. -->&nbsp;</div>

            <div id="errata">
                <div class="erratum">
                    <h3>Stamen is a design and technology studio in San Francisco. </h3>
                    <strong><font size="4"><a href="contact-us.html">Contact us</a></font></strong><br>
                    <strong><font size="4"><a href="hire-us.html">Hire us</a></font></strong><br><br>
                    <strong><font size="4"><a href="http://content.stamen.com">Blog</a></font></strong><br>
                    <strong><font size="4"><a href="http://www.pinterest.com/ericrodenbeck/stamen/">Pinterest</a></font></strong>
                    <br><br>
                    <p>We design and build maps and data visualizations in San Francisco's <a href="http://maps.stamen.com/watercolor/#15/37.7549/-122.4133">Mission District</a> for a wide variety of clients. <a href="/contact.html">Hire us</a>!</p>
                    <p>Read more about <a href="/studio.html">the studio</a>, catch up on the latest at our <a href="http://content.stamen.com">blog</a>, follow us on <a href="http://twitter.com/#!/stamen">twitter</a>, or subscribe to an <a href="http://stamen.com/node/feed/index.xml">RSS feed</a> for updates. </p>
                </div>    
                <div class="erratum">
                    <h3>Navigation</h3>

                    <ul class="menu">
                    <li class="leaf"><a href="/.">Home</a></li>
                    <li class="collapsed"><a href="/studio.html">About Stamen</a></li>
                    <li class="collapsed"><a href="/whatwedo.html">What We Do</a></li>
                    <li class="collapsed"><a href="/clients.html" title="Stamen&#039;s Clients">Our Clients</a></li>
                    <li class="collapsed"><a href="/projects.html" title="Stamen Projects">Some Projects</a></li>
                    <li class="leaf"><a href="/exhibitions.html" title="Installations in galleries and museums">Exhibitions</a></li>
                    <li class="leaf"><a href="/events.html" title="Where we&#039;re going &amp; what people are saying.">Events &amp; Press</a></li>
                    <li class="expanded"><a href="/workwithus.html" title="Work with Stamen">Work With Us</a>
                    <ul class="menu">
                    <li class="leaf"><a href="/hiring_developer.html" title="An ideal job for an aspiring generalist">Stamen is hiring a developer</a></li>
                    <li class="leaf"><a href="/hiring-studio-manager.html">Stamen is hiring a Studio Manager</a></li>

                    </ul>
                    </li>
                    <li class="expanded"><a href="/contact-us.html">Contact Us</a>
                    <ul class="menu">
                    <li class="leaf"><a href="/hire-us.html">Hire Us</a></li>
                    <li class="leaf"><a href="/FAQ.html">FAQ</a></li>

                    </ul>
                    </li>

                    </ul>

                </div>

            </div>

            <div id="posts">
                {{content}}
            </div>
        </div>

    </body>
</html>